@tailwind base;
@tailwind components;
@tailwind utilities;

.AccordionChevron {
	transition: transform 300ms;
}
.AccordionTrigger[data-state="open"] > .AccordionChevron {
	transform: rotate(180deg);
}
.AccordionTrigger > div {
	font-weight: 600;
}